.logout-icon {
  transform: scale(1.5);
  cursor: pointer;
}

.user-login {
  font-size: 15px;
  padding-right: 30px;
}

.logo {
  background: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 25px;
}
