/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e9ebee;
}

.toast-success {
  background-color: #009400;
}

.toast-error {
  background-color: #ff2a2a;
}

mat-form-field {
  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }
}
